.container {
    width: 100%;
    height: 100vh;
    padding: 0 150px;

    display: flex;
    justify-content: center;
}

.box {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    width: 50%;
    height: 100%;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.left .desc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.left .desc h1 {
    font-family: var(--heading-font);
    font-size: 50px;
    margin-bottom: 20px;
}

.left mark {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: unset;
}

.left .form .row {
    display: flex;
    margin: 20px 0;
    flex-direction: column;
    align-items: start;
}

.left .form .row label {
    margin: 20px 0;
    font-size: 20px;
}

.left .form .row input, .left .form .row textarea {
    font-size: 18px;
    padding: 10px;
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.left .form .row textarea {
    width: 80%;
    height: 200px;
}

.box .right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .image {
    width: calc(100% - 40px);
    height: 75%;
    background-image: url("../../images/inquire.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    position: relative;
}

.image::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    border-radius: 50%;
    transform: translate(-28px, -30px);
    border: 2px solid var(--primary-color);
}

@media (max-width: 1366px) {

    .left .desc h1 {
        font-size: 30px;
    }

    .left .desc span {
        font-size: 14px;
    }

    .left .form .row {
        margin: 10px 0;
    }

    .left .form .row label {
        font-size: 15px;
        margin: 0 0 10px 0;
    }

    .left .form .row input, .left .form .row textarea {
        font-size: 14px;
        padding: 8px;
    }

    .left .form .row textarea {
        height: 100px;
    }

    .left .form button {
        margin-top: 10px;
        font-size: 12px;
        padding: 10px 30px;
    }
}