.container {
    width: 50%;
    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

    color: #ffffff;
    background-color: var(--primary-color);
    user-select: none;
}

.top {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top h1 {
    margin: 0 20px;
    font-family: var(--heading-font);
    font-size: 40px;
    font-weight: 400;
}

.top .icon {
    width: 30px;
    height: 30px;
}

.middle {
    width: 100%;
    margin: 10px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.middle .weeks {
    font-size: 24px;
}

.middle .days{
    margin-bottom: 20px;
}
.middle li{
    color: #ffffff;
    width: calc(100% / 7);
    margin-bottom: 10px;
}
.middle .weeks li{
    font-weight: 500;
    cursor: default;
}
.middle .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
    font-size: 20px;
}

.days li.inactive{
    color: #cecccc;
    opacity: 0;
}
.days li.active{
    color: #000000;
}
.days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.days .normal:hover {
    color: #ffffff;
}
.days li.active::before{
    background-color: #ffffff;
    color: #000000;
}
.days li:not(.active):hover::before{
    background-color: #040404;
}

.bottom {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.bottom label {
    font-family: var(--heading-font);
    font-size: 20px;
}

.bottom select {
    width: 60%;
    padding: 5px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: var(--primary-color);
    border: 1px solid #ffffff;
    outline: none;
}

.bottom option {
    background-color: #000000;
    outline: none;
}

@media (max-width: 1366px) {
    .container {
        width: 530px;
        padding: 30px 50px;
        border-radius: 7px;
    }

    .top {
        margin-bottom: 15px;
    }

    .top h1 {
        font-size: 25px;
    }

    .top .icon {
        width: 25px;
        height: 25px;
    }

    .middle li {
        margin-bottom: 0;
    }

    .middle .weeks li {
        font-size: 18px;
    }

    .middle .days {
        margin-bottom: 10px;
    }

    .middle .days li {
        margin-top: 10px;
        font-size: 16px;
    }

    .days li::before {
        width: 30px;
        height: 30px;
    }

    .bottom {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}