.container {
    height: 500px;
    width: 390px;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: relative;
    border-radius: 10px;
}

.container img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.container h3 {
    font-size: 20px;
    color: var(--primary-color);
}

.container span {
    padding: 25px 23px;

    color: #ffffff;
    background-color: var(--primary-color);
    font-size: 20px;
    border: 1px solid #ffffff;
    border-radius: 50%;

    position: absolute;
    top: 226px;
    right: 80px;
}

@media (max-width: 1366px) {
    .container {
        width: 250px;
        height: 400px;
        padding: 40px 0;
    }

    .container img {
        width: 180px;
        height: 180px;
    }

    .container span {
        padding: 15px 13px;
        top: 189px;
        right: 33px;
    }
}