.container {
    width: 50%;
    height: 100%;

    border: 1px solid #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 790px;
    height: 790px;

    border: 1px solid #ffffff;
    border-radius: 50%;

    position: relative;
}
